spring: 
  datasource: 
    url: jdbc:mysql://localhost/boringline?autoReconnect=true&useSSL=false
    username: root
    password: sa123456
    driver-class-name: com.mysql.jdbc.Driver
  jpa: 
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5Dialect